/* Hide scrollbar for candidate sidebar */
#sidebar-admin-wraper,
#sidebar-admin-wraper .admin-nav,
#sidebar-admin-wraper .admin-nav.scrollbar-macosx {
    overflow-y: hidden !important;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

#sidebar-admin-wraper::-webkit-scrollbar,
#sidebar-admin-wraper .admin-nav::-webkit-scrollbar,
#sidebar-admin-wraper .admin-nav.scrollbar-macosx::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
}